[Unit]
Description=Fix Bluetooth after resume
After=suspend.target hibernate.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "systemctl restart bluetooth && rmmod btusb && sleep 1 && modprobe btusb"

[Install]
WantedBy=suspend.target hibernate.target